@charset "utf-8";
/*
* 100 : Thin
* 200 : Extra Light (Ultra Light)
* 300 : Light
* 400 : Regular
* 500 : Medium
* 600 : Semi Bold (Demi Bold)
* 700 : Bold
* 800 : Extra Bold (Ultra Bold)
* 900 : Black (Heavy)
*/

@font-face {
	font-family: 'NanumGothic';
	src:url(../font/NanumGothic400.eot); 
	src:local(※), /* IE 6~8 */
		url(../font/NanumGothic400.eot?#iefix) format('embedded-opentype'),
		url(../font/NanumGothic400.woff) format('woff')
	font-style: normal;
    font-weight: 400;
    /*  unicode-range: U+AC00-D7FF Ko */
}

@font-face {
	font-family: 'NanumGothic';
	src:url(../font/NanumGothic700.eot);
	src:local(※),
		url(../font/NanumGothic700.eot?#iefix) format('embedded-opentype'),
		url(../font/NanumGothic700.woff) format('woff'),
		url(../font/NanumGothic700.woff2) format('woff2')
	font-style: normal;
    font-weight: 700;
}